.btn-search {
  cursor: pointer;
}
.btn-search i {
  color: var(--main-text-color);
  padding: 10px;
  font-size: 1.25rem;
}
nav.navbar {
  background-color: var(--3rd-background-color);
}

.navbar-collapse {
  /* border-top: 1px solid var(--main-text-color) ; */
}