$dark_0: #C1C2C5;
$dark_1: #A6A7AB;
$dark_2: #909296;
$dark_3: #5C5F66;
$dark_4: #373A40;
$dark_5: #2C2E33;
$dark_6: #25262B;
$dark_7: #1A1B1E;
$dark_8: #141517;
$dark_9: #101113;

$gray_0: #F8F9FA;
$gray_1: #F1F3F5;
$gray_2: #E9ECEF;
$gray_3: #DEE2E6;
$gray_4: #CED4DA;
$gray_5: #ADB5BD;
$gray_6: #868E96;
$gray_7: #495057;
$gray_8: #343A40;
$gray_9: #212529;

$red_0: #FFF5F5;
$red_1: #FFE3E3;
$red_2: #FFC9C9;
$red_3: #FFA8A8;
$red_4: #FF8787;
$red_5: #FF6B6B;
$red_6: #FA5252;
$red_7: #F03E3E;
$red_8: #E03131;
$red_9: #C92A2A;

$pink_0: #FFF0F6;
$pink_1: #FFDEEB;
$pink_2: #FCC2D7;
$pink_3: #FAA2C1;
$pink_4: #F783AC;
$pink_5: #F06595;
$pink_6: #E64980;
$pink_7: #D6336C;
$pink_8: #C2255C;
$pink_9: #A61E4D;

$grape_0: #F8F0FC;
$grape_1: #F3D9FA;
$grape_2: #EEBEFA;
$grape_3: #E599F7;
$grape_4: #DA77F2;
$grape_5: #CC5DE8;
$grape_6: #BE4BDB;
$grape_7: #AE3EC9;
$grape_8: #9C36B5;
$grape_9: #862E9C;

$violet_0: #F3F0FF;
$violet_1: #E5DBFF;
$violet_2: #D0BFFF;
$violet_3: #B197FC;
$violet_4: #9775FA;
$violet_5: #845EF7;
$violet_6: #7950F2;
$violet_7: #7048E8;
$violet_8: #6741D9;
$violet_9: #5F3DC4;

$indigo_0: #EDF2FF;
$indigo_1: #DBE4FF;
$indigo_2: #BAC8FF;
$indigo_3: #91A7FF;
$indigo_4: #748FFC;
$indigo_5: #5C7CFA;
$indigo_6: #4C6EF5;
$indigo_7: #4263EB;
$indigo_8: #3B5BDB;
$indigo_9: #364FC7;

$blue_0: #E7F5FF;
$blue_1: #D0EBFF;
$blue_2: #A5D8FF;
$blue_3: #74C0FC;
$blue_4: #4DABF7;
$blue_5: #339AF0;
$blue_6: #228BE6;
$blue_7: #1C7ED6;
$blue_8: #1971C2;
$blue_9: #1864AB;

$cyan_0: #E3FAFC;
$cyan_1: #C5F6FA;
$cyan_2: #99E9F2;
$cyan_3: #66D9E8;
$cyan_4: #3BC9DB;
$cyan_5: #22B8CF;
$cyan_6: #15AABF;
$cyan_7: #1098AD;
$cyan_8: #0C8599;
$cyan_9: #0B7285;

$teal_0: #E6FCF5;
$teal_1: #C3FAE8;
$teal_2: #96F2D7;
$teal_3: #63E6BE;
$teal_4: #38D9A9;
$teal_5: #20C997;
$teal_6: #12B886;
$teal_7: #0CA678;
$teal_8: #099268;
$teal_9: #087F5B;

$green_0: #EBFBEE;
$green_1: #D3F9D8;
$green_2: #B2F2BB;
$green_3: #8CE99A;
$green_4: #69DB7C;
$green_5: #51CF66;
$green_6: #40C057;
$green_7: #37B24D;
$green_8: #2F9E44;
$green_9: #2B8A3E;

$lime_0: #F4FCE3;
$lime_1: #E9FAC8;
$lime_2: #D8F5A2;
$lime_3: #C0EB75;
$lime_4: #A9E34B;
$lime_5: #94D82D;
$lime_6: #82C91E;
$lime_7: #74B816;
$lime_8: #66A80F;
$lime_9: #5C940D;

$yellow_0: #FFF9DB;
$yellow_1: #FFF3BF;
$yellow_2: #FFEC99;
$yellow_3: #FFE066;
$yellow_4: #FFD43B;
$yellow_5: #FCC419;
$yellow_6: #FAB005;
$yellow_7: #F59F00;
$yellow_8: #F08C00;
$yellow_9: #E67700;

$orange_0: #FFF4E6;
$orange_1: #FFE8CC;
$orange_2: #FFD8A8;
$orange_3: #FFC078;
$orange_4: #FFA94D;
$orange_5: #FF922B;
$orange_6: #FD7E14;
$orange_7: #F76707;
$orange_8: #E8590C;
$orange_9: #D9480F;