$basePercent: 8.33333%;
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row10 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row10.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row10.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.xs-0 {
  display: none;
}

.xs\.20 {
  flex: 0 0 20%;
  max-width: 20%;
}

@for $i from 1 through 12 {
  .xs-#{$i} {
    flex: 0 0 $i * $basePercent;
    max-width: $i * $basePercent;
  }
}

@media (min-width: 576px) {
  .poster-img {
    height: 343px;
  }
}
@media (min-width: 768px) {
  .poster-img {
    height: 390px;
  }
}
@media (min-width: 992px) {
  .poster-img {
    height: 340px;
  }
}
@media (min-width: 1200px) {
  .poster-img {
    height: 390px;
  }
}
@media (min-width: 1400px) {
  .poster-img {
    height: 343px;
  }
}

/* >= Tablet */
@media (min-width: 740px) {
  .row10 {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .md-0 {
    display: none;
  }
  .md\.20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  @for $i from 1 through 12 {
    .md-#{$i} {
      flex: 0 0 $i * $basePercent;
      max-width: $i * $basePercent;
      display: block;
    }
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row10 {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row10.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row10.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }
  .l\.20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  @for $i from 1 through 12 {
    .l-#{$i} {
      flex: 0 0 $i * $basePercent;
      max-width: $i * $basePercent;
      display: block;
    }
  }
}

@media (min-width: 1400px) {
  .lg-0 {
    display: none;
  }
  .lg\.20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  @for $i from 1 through 12 {
    .lg-#{$i} {
      flex: 0 0 $i * $basePercent;
      max-width: $i * $basePercent;
      display: block;
    }
  }
}

/* Tablet - PC low resolution */

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;

    .row10 {
      margin-left: -12px;
      margin-right: -12px;
    }

    .row10.sm-gutter {
      margin-left: -5px;
      margin-right: -5px;
    }

    .col {
      padding-left: 12px;
      padding-right: 12px;
    }

    .row10.sm-gutter .col {
      padding-left: 5px;
      padding-right: 5px;
    }

    .l-0 {
      display: none;
    }
    .l\.20 {
      flex: 0 0 20%;
      max-width: 20%;
    }
    @for $i from 1 through 12 {
      .l-#{$i} {
        flex: 0 0 $i * $basePercent;
        max-width: $i * $basePercent;
        display: block;
      }
    }
  }
}
