@use "./var" as *;
.ps {
  height: 100%;
}
:root {
  --primary-color: #{$red_8};
  --secondary-color: #{$red_7};
  --3rd-color: #{$teal_9};
  --background-color: #{$gray_0};
  --second-background-color: #{$gray_1};
  --3rd-background-color: #{$gray_3};
  --main-container-color: #{$gray_0};
  --second-container-color: #{$gray_2};
  --main-text-color: #{$dark_7};
  --second-text-color: #{$dark_4};
  --white-text-color: #{$gray_1};
  --black-text-color: #{$gray_9};
  --main-shadow-color: rgba(0, 0, 0, 0.2);
  --second-shadow-color: rgba(0, 0, 0, 0.35);
  --overlay-color: rgba(0, 0, 0, 0.5);
  --close-color: #{$gray_3};
  --light-icon: #{$yellow_5};
}

* {
  // transition: all ease 0.2s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  button {
    border: none;
    cursor: pointer;
  }
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  a {
    color: inherit;
  }
}
.modal--open {
  #app {
    filter: blur(2px);
  }
}
body.theme-dark {
  --background-color: #{$dark_8};
  --second-background-color: #{$gray_9};
  --main-text-color: #{$dark_1};
  --second-text-color: #{$dark_3};
  --main-shadow-color: rgba(59, 59, 59, 0.02);
  --second-shadow-color: rgba(59, 59, 59, 0.035);
  --overlay-color: rgba(126, 126, 126, 0.5);
  --close-color: #{$gray_8};
  --3rd-background-color: #{$gray_9};
  color: var(--main-text-color);
}
body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--main-text-color);
}
.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: var(--background-color);
  border-color: #545454;
  color: #f1f1f1 !important;
}

.form-control:focus {
  background: var(--background-color);
}

footer {
  background: var(--3rd-background-color);
  .footer-brand {
    .logo-img {
      width: 150px;
      height: auto;
    }
  }
}

.navbar-brand .logo-img {
  width: 112px;
  height: 28px;
}

.close-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.625rem;
  background: transparent;
  border-radius: 5px;
  padding: 0.25rem;
  color: var(--main-text-color);
  .svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  &:hover {
    background: var(--close-color);
  }
  // hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white
}

.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
  }
}

header {
  .dropdown_menu {
    position: absolute;
    display: none;
    top: 20px;
    right: 40px;
    z-index: 1;
    width: 300px;
    padding: 10px;
    background: var(--second-background-color);
    box-shadow: 1rem 20px 40px var(--main-shadow-color),
      -1rem 20px 40px var(--main-shadow-color);
    border-radius: 10px;
    overflow: hidden;
    // display: none;
    @for $i from 1 through 5 {
      .dropdown_item-#{$i} {
        transform-origin: top center;
        animation: translateX 300ms ($i * 60ms) ease-in-out forwards;
        opacity: 0;
        border-radius: 10px;
        background: var(--close-color);
        margin: 5px 0;
        padding: 10px;
        a {
          padding-right: 100%;
          font-size: 500;
        }
      }
    }
    li:hover {
      background: var(--3rd-color);
      color: var(--white-text-color);
    }
  }
  .menu-btn {
    position: absolute;
    top: 0.625rem;
    right: 1rem;
    z-index: 1;
    i {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 5px;
      border-radius: 5px;
      background: var(--close-color);
    }
  }
  &:hover .dropdown_menu {
    display: unset;
  }
  @keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }

    80% {
      transform: translateX(-15px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
.theme-toggle {
  & > * {
    cursor: pointer;
  }
  &:hover {
    opacity: 1;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    width: 24px;
    height: 14px;
    background-color: var(--main-text-color);
    display: flex;
    border-radius: 26px;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    transform: scale(1.5);
  }

  .ball {
    width: 10px;
    height: 10px;
    background-color: var(--background-color);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    .icon {
      position: absolute;
      top: -7px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      & .vt-switch {
        fill: var(--main-text-color);
      }
      &.moon {
        display: none;
      }
    }
  }

  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball {
    transform: translateX(10px);
    .icon.moon {
      display: block;
    }
    .icon.sun {
      display: none;
    }
  }
}
.spinner {
  margin: 30px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.308);
  animation: spin 1.0s linear infinite;
  border-bottom-color: #d30000;
}

@keyframes spin {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}